@import "styles/constants.scss";

.Cell {
  outline: $fieldLinesWidth solid $fieldTableColor;
  background-color: $cellColor;
  font-weight: bold;
  text-shadow: 0px 0px 10px #ff0000;
  color: $fieldTableColor;
  cursor: pointer;
}

.OpenedCell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cellColor;
  font-weight: bold;
  color: $fieldTableColor;
  user-select: none;
}
