@import 'styles/variables.scss';

@mixin cell {
  background-color: $cellColor;
  font-weight: bold;
  color: $fieldTableColor;
  user-select: none;
}

.Cell {
  @include cell;

  outline: $fieldLinesWidth solid $fieldTableColor;
  text-shadow: 0px 0px 10px #ff0000;
  cursor: pointer;
}

.OpenedCell {
  @include cell;

  display: flex;
  justify-content: center;
  align-items: center;
}
