.Game {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gameTitle {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.main {
  display: flex;
  margin: 20px;
  border: 4px solid #9fb2ff;
  background-color: #d0e9ff;
  flex-grow: 1;
  overflow: auto;
}
