.Controls {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;

  & button {
    margin-bottom: 5px;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    &:first-child {
      margin-top: 5px;
    }
  }
}

.controlsContainer {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  height: 50%;

  & input:disabled {
    cursor: not-allowed;
  }

  & label {
    padding-left: 5px;
    user-select: none;
  }
}

.info {
  margin-right: 10px;
}

.numericInput {
  & input {
    width: 50px;

    &:disabled {
      cursor: not-allowed;
    }
  }

  & label {
    padding-left: 5px;
  }
}
